version: '3.8'
services:
  frontend:
    image: ${FRONTEND_IMAGE}
    ports:
      - ${FRONTEND_PORT}
    networks:
      - ${NETWORK_NAME}
    depends_on:
      - backend
    environment:
      - REACT_APP_API_URL=${REACT_APP_API_URL}

  backend:
    image: ${BACKEND_IMAGE}
    ports:
      - ${BACKEND_PORT}
    networks:
      - ${NETWORK_NAME}
    environment:
      - SPRING_DATASOURCE_URL=${SPRING_DATASOURCE_URL}
      - SPRING_DATASOURCE_USERNAME=${SPRING_DATASOURCE_USERNAME}
      - SPRING_DATASOURCE_PASSWORD=${SPRING_DATASOURCE_PASSWORD}
    depends_on:
      - db

  db:
    image: ${DB_IMAGE}
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
    ports:
      - ${DB_PORT}
    networks:
      - ${NETWORK_NAME} 

networks:
  app-network:
    external: true