version: '3.8'
services:
  frontend:
    image: 182000022338.dkr.ecr.us-east-1.amazonaws.com/userstory-frontend-repo:latest
    ports:
      - "80:80"
    networks:
      - app-network
    depends_on:
      - backend
    environment:
      - REACT_APP_API_URL=http://backend:8080/api
    deploy:
      restart_policy:
        condition: on-failure
        max_attempts: 3
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost"]
      interval: 30s
      timeout: 10s
      retries: 3

  backend:
    image: 182000022338.dkr.ecr.us-east-1.amazonaws.com/userstory-backend-repo:latest
    ports:
      - "8080:8080"
    networks:
      - app-network
    environment:
      - SPRING_DATASOURCE_URL=jdbc:mariadb://10.0.2.195:3306/userstory
      - SPRING_DATASOURCE_USERNAME=userstory_admin
      - SPRING_DATASOURCE_PASSWORD=devuser
      - SPRING_JPA_HIBERNATE_DDL_AUTO=update
    deploy:
      restart_policy:
        condition: on-failure
        max_attempts: 3
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/api/projects"]
      interval: 30s
      timeout: 10s
      retries: 3

networks:
  app-network:
    external: true